@import "tailwindcss";
@theme {
  --color-main-red: hsl(14, 86%, 42%);
  --color-main-green: hsl(159, 69%, 38%);

  --color-blush-50: hsl(20, 50%, 98%);
  --color-blush-100: hsl(13, 31%, 94%);
  --color-blush-300: hsl(14, 25%, 72%);
  --color-blush-400: hsl(7, 20%, 60%);
  --color-blush-500: hsl(12, 20%, 44%);
  --color-blush-900: hsl(14, 65%, 9%);
}

:root {
  font-family: "Red Hat Text", sans-serif;
}
h1 {
  font-size: 2em;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
